
.container {
  // Important properties for the effect
  perspective: 1px;
  transform-style: preserve-3d;
  height: 8vh;
  background-color: transparent;
}

.content {
  // Important properties for the effect
  display: block;
  position: relative;
  background-color: white;
  z-index: 1;
  padding: 12rem 4rem;
  text-align: center;
  color: white;
  background-color: #000;
  font-family:  "area-variable", sans-serif;
}

.text {
  color: white;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 2rem;
  font-family:  "area-variable", sans-serif;
}

body {
  margin: 0;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
	.text-large {
		font-size: 2rem; /* Adjust as needed for smaller screens */
		margin: 2px 2px 30px 10px; /* Adjust margins for smaller screens */
	}
}

/* Responsive styles for larger screens */
@media screen and (min-width: 1200px) {
	.text-large {
		font-size: 3rem; /* Adjust as needed for larger screens */
		margin: 2px -50px 30px 10px; 
		text-align: center;
/* Adjust margins for larger screens */
	}
}
