@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
body {
  font: 100% Roboto, sans-serif;
  background-color: #0c3215;
  background-size: cover;
  padding: 50px;
  margin: 0;
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: #ffd700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: #000; }

a:active { background: #ffd700; }

